body {
  font-family: 'Roboto', sans-serif;
  background-color: #f2f2f4;
}

#todaysDateText {
  position: absolute;
  top: 16px;
  left: 16px;
}

#datePickerContainer {
  padding-top: 30px;
  padding-left: 8px;
}

#leftbar {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 30%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: white;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

#pictimeline {
  margin-left: 35%;
}

#photoLinkContainer {
  padding-top: 30px;
  padding-left: 8px;
}
