body {
  font-family: 'Roboto', sans-serif;
  background-color: #f2f2f4;
}

::placeholder {
  color: grey;
}

#todaysDateText {
  position: absolute;
  font-size: xx-large;
  top: 16px;
  left: 16px;
  margin-top: 10px;
}

#topcard {
  background-color: #7e57c2;
  color: white;
}

#submitbtn {
  margin-left: 16px;
  background-color: #7e57c2;
}

#helloNameText{
  padding-top: 30px;
  padding-left: 16px;
  padding-bottom: 10px;
}

#signOutButton {
  position: absolute;
  bottom: 16px;
  left: 16px;
  background-color: #7e57c2;
}

#photoLinkContainer {
  padding-top: 30px;
  padding-left: 26px;
}

#outfitdescription {
  padding-left: 20px;
  width: 175%;

}
#datepicker{
  width: 200%;
  padding-left: 20px;
}

#leftbar {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 30%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: white;
    overflow-x: hidden; /* Disable horizontal scroll */
}

#pictimeline {
  margin-left: 32%;
}

#photoLinkContainer {
  padding-top: 30px;
  padding-left: 8px;
}

.timelinedate {
  color: #7c7c7c;
}

hr {
    display: block;
    height: 1px;
    width: 97%;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.timelineimage {
  width: 40%;
  height: 40%;
  padding-bottom: 25px;
}

.img_and_desc {
  display: flex;
  justify-content: flex-start;
}

.timelinedesc {
  margin-top: 0;
  padding-left: 30px;
  font-size: 30px;
  padding-right: 30px;
  color: #444444;
}

.deleteButton{
  position:absolute;
  bottom:15px;
  right:20px;
}
.img_and_desc{
  position:relative;
}

#choosefile {
  padding-bottom: 20px;
  background-color: #7e57c2;
}
