body {
  font-family: 'Roboto', sans-serif;
  color: black;
  background-color: #3f51b5;
}

.topbar2 {
  background-color: #f2f2f4;
  width: 100%;
  height: 40px;
}

#Welcome {
  margin-top: 25%;
  display: flex;
  justify-content: center;
}

#signinbtn {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#bottominfo {
  color: black;
  background-color: white;
  width: 70%;
}
#infoarea {
  background-color: #f2f2f4;
  display: flex;
  justify-content: center;
}

h2 {
  padding-top: 15px;
  display: flex;
  justify-content: center;
}

#description {
  margin-left: 15%;
  font-size: 17px;
}
