body {
  font-family: 'Roboto', sans-serif;
  color: white;
  background-color: #f2f2f4;
}

#tophalf {
  background-color: #7e57c2;
}

.topbar2 {
  background-color: #f2f2f4;
  width: 100%;
  height: 40px;
}

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10%;
}

#Welcome {
  display: flex;
  justify-content: center;
}

#downarrow {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50px;
  padding-bottom: 5%;
  padding-top: 5%
}

#signinbtn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5%;
  width: 200px;
}

#bottominfo {
  color: black;
  background-color: white;
  width: 70%;
}

#infoarea {
  display: flex;
  justify-content: center;
}

h2 {
  padding-top: 15px;
  display: flex;
  justify-content: center;
}

#description {
  margin-left: 10%;
  margin-right: 10%;
  font-size: 17px;
  padding-bottom: 50px;
}
.bottombar {
  height: 70px;
  background-color: #424242;
  width: 100%;
}

.animatefading{animation:fading 3s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.slowfade{animation:opac 2s}@keyframes opac{from{opacity:0} to{opacity:1}}
.slowerfade{animation:opac 3s}@keyframes opac{from{opacity:0} to{opacity:1}}
.slowanimatetop{position:relative;animation:animatetop 1s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
