<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/css/w3.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <script>
    $( function() {
      $( "#datepicker" ).datepicker();
    } );
    </script>
    <meta charset="utf-8">
    <title>Out-Fitz</title>
    <link rel="stylesheet" href="/css/home.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  </head>
  <body>
    <section id="leftbar" class="w3-card">
      <br>
      <p> Hello, {{name}}!
      <p> Email: {{email_addr}}
      <p> User_id: {{user_id}}
      <a href="{{log_url}}"><p> Sign Out </p></a>
      <div id="todaysDateText" class="w3-card">Tuesday, July 24 2018</div>
      <div id="photoLinkContainer">
        Photo Link: <input name="link">
      </div>
      <button>SUBMIT</button>
      <h1>RESULTS TEST</h1>
      <p>Date: {{datepicker}}</p>
      <p>Label: {{outfitdescription}}</p>
      <p>Link: {{link}}</p>
      <form class="description" method="POST">
        <div>Enter a Description of your Outfit: <input type="text" name="outfitdescription" id="outfitdescription" > </input> </div>
        <div id="datePickerContainer">Enter the date you wore this Outfit: <input type="text" id="datepicker"></div>
      <button type="submit"> Enter your outfit </button>
    </section>
    <section id="pictimeline"> <!-- Where all the pictures should display -->
      <p>Content goes here...
    </section>
</html>
