<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <script>
    $( function() {
      $( "#datepicker" ).datepicker();
    } );
    </script>
    <meta charset="utf-8">
    <title>Out-Fitz</title>
    <link rel="stylesheet" href="/css/home.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  </head>
  <body>
    <div id="todaysDateText">Monday, July 23 2018</div>
    <p id="datePickerContainer">Date: <input type="text" id="datepicker"></p>
    <div> Add a desciption:   <input = description>  </div>
    
</html>
