<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/css/w3.css">
    <link rel="stylesheet" href="node_modules/aos/dist/aos.css" />
    <script src="node_modules/aos/dist/aos.js"></script>
    <link rel="stylesheet" href="/materialize/css/materialize.css">
    <script src="materialize/js/materialize.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <script>
    $( function() {
      $( "#datepicker" ).datepicker();
      $( "#datepicker" ).datepicker( "option", "dateFormat", "yy-mm-dd");
    });
    </script>
    <meta charset="utf-8">
    <title>Out-Fitz</title>
    <link rel="stylesheet" href="/css/home.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  </head>
  <body>
    <script>
    AOS.init();
    </script>
    <section id="leftbar" class="w3-card">
      <div id="topcard" class="w3-card">
      <br>
      <h1 id="todaysDateText">{{month}}</h1>
      <p id="helloNameText">Hello, {{name}}!</p>
      </div>
      <a id="signOutButton" href="{{log_url}}" class="waves-effect waves-light btn"><i class="material-icons left">exit_to_app</i>Sign Out</a>
      <div class="row">
      <form class="description col s12" enctype="multipart/form-data" method="POST">
        <input id="choosefile" type="file" name="myfile"/>
        <div class="row" id="entryInfoContainer">
          <!-- Enter a Description of your Outfit: <input type="text" name="outfitdescription" id="outfitdescription"></input> <br> -->
          <div class="input-field col s6">
            <input id="outfitdescription" name="outfitdescription" type="text" class="validate">
            <label for="outfitdescription">Outfit description</label>
            <!-- Enter the date you wore this Outfit: <input type="text" id="datepicker" name="datepicker"></input> -->
            <div class="input-field col s6">
            <input placeholder="Date worn" id="datepicker" name="datepicker" type="text" class="validate">
            <!-- <label for="datepicker">Date worn</label> -->
          </div>
        </div>
        </div>
      <!-- <button type="submit"> Enter your outfit </button> -->
      <button id="submitbtn" class="btn waves-effect waves-light" type="submit" name="action">Submit
      <i class="material-icons right">send</i>
      </button>
    </form>
    </section>
    <section id="pictimeline">
      {% for n in outfits %}
      <span id="{{n.key.id()}}">
        <p class="timelinedate" data-aos='fade-down'> {{n.Date}} </p>
        <hr/>
        <div class="img_and_desc">
          <img class="timelineimage" data-aos='fade-right' src='data:image/jpg;base64, {{n.Image}}'></img>
          <p class="timelinedesc" data-aos='fade-left'> {{n.Description}} </p>
          <button class="deleteButton" name="{{n.key.id()}}" key="{{n.key}}">DELETE BUTTON</button>
        </div>
      </span>
      {% endfor %}
    </section>
    </body>
    <script src="js/script.js"></script>
</html>
