<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Out-Fitz</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/w3.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  </head>
  <body>
    <h1 id="Welcome"> Welcome to Out-Fitz!</h1>
    <p id="CrtAccBtn" class="w3-button w3-round-xxlarge w3-indigo w3-border-white w3-border"> Create Account </p>
    <p id="loginbtn"> Log in </p>
    <section id="bottominfo">
      <h2>About Out-Fitz</h2>
      <br>
      <p>Out-Fitz is ....
      <p>...
      <p>...
      <p>...
      <p>...
      <p>...
      <p>...
      <p>...
      <p>...      
    </section>
  </body>
</html>
